<div class="main-page">
  <h1>All Angular</h1>
  <h2>This site has various demo apps made using angular</h2>
  <img src="../imgs/angular-logo.png" alt="" />
  <h3><a href="#/reddit">Reddit Clone</a> allows users to add posts and comments as well as up and down vote posts</h3>
  <h3><a href="#/moviesearch">Movie Search</a> takes user input and hits the OMDB api</h3>
  <h3><a href="#/tea">Tea Shop</a> acts as an ecommerce site. It allows users to add items to a cart and then checkout(no payment)</h3>
</div>
