<movie-nav-bar></movie-nav-bar>
<div class="panel deets">
  <div class="panel-body">
    <h1>{{details.Title}}</h1>
    <img class="movie-img" src={{details.Poster}} alt="" />
      <h4>Starring: {{details.Actors}}</h4>
      <h5>{{details.Plot}}</h5>
      <h5>Awards</h5>
      <p>{{details.Awards}}</p>
      <h5>Country</h5>
      <p>{{details.Country}}</p>
      <h5>Director</h5>
      <p>{{details.Director}}</p>
      <h5>Genre</h5>
      <p>{{details.Genre}}</p>
      <h5>Language</h5>
      <p>{{details.Language}}</p>
      <h5>Metascore</h5>
      <p>{{details.Metascore}}</p>
      <h5>Rated</h5>
      <p>{{details.Rated}}</p>
      <h5>Released</h5>
      <p>{{details.Released}}</p>
      <h5>Runtime</h5>
      <p>{{details.Runtime}}</p>
      <h5>Writer</h5>
      <p>{{details.Writer}}</p>
      <h5>Year</h5>
      <p>{{details.Year}}</p>
  </div>
</div>
